html, body {
	height: 100%;
	width: 95%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background-image: url('images/background.webp');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #f9f9f9;
}
	
body {
	padding-top: 0;
	padding-bottom: 0;
	font-family: Lexend;
	font-style: normal;
	font-weight: 300;
	text-align: center;
	font-size: 12px;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}




/* MAIN */

.nav {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 8px;
	padding: 0;
    font-size: 10px;
    text-align: center;
	
}

	.nav th {
		padding-left: 8px;
		padding-right: 8px;
		font-weight: 300;
	}



	.main { animation: appear 0.8s; 
		position: relative;
	}

	@keyframes appear {
  0% { opacity: 0; top:50px;}
  100% { opacity: 1; top:0;}
}




.container-grid {
  display: grid;
  grid-template-columns: 255px auto;
  gap: 15px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

	.col-1 {
	font-style: normal;
	font-weight: 300;
	}

	.col-2 {
	max-width: 100%;
	}


.about-card {
	text-align: left;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0;
	background: white;
}
	
	.about-card a {
		font-family: "Pacifico", cursive;
		font-weight: 300;
		font-style: normal;
	}

.card-header {
	display: flex;
	padding-bottom: 10px;
}

	.card-header img {
		width:50px;
		height:auto;
		padding-right:12px;
		float:left;
	}
	
	.card-header a {
		font-size:20px;
	}


.card-menu {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

  .card-menu th {
	display: inline-block;
	margin-left: 7px;
	margin-right: 7x;
	margin-bottom: 0;
	margin-top: 10px;	
	transition: filter 0.3s ease; 
  }
	
  .card-menu th:hover {
	filter: drop-shadow(0 0 2px gray); 
  }
	
  .card-menu img {
	width:30px;
	}



.recent {
	text-align: center;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	background: white;
}



.portfolio {
	text-align: center;
	font-style: normal;
	font-weight: 300;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: auto;
	margin-top: 0;
	background: white;
}
	
	.portfolio p {
		padding-top: 5px;
	}
	
	.portfolio img {
	width: auto;
	margin: 0;
	padding: 0;
}	

.slideshow-nav {
	margin-left: auto;
	margin-right: auto;
}

	.slideshow-nav th {
		font-weight: 300;
	}


.slideshow-container {
  max-width: 100%;
  position: relative;
  
}

.slideshow-container img {
  margin-left: auto;
  margin-right: auto;
  position: center;
  max-height: 330px;
  border-radius: 3px;
}

	.mySlides {
	  display: none;
	}
	
	.dot {
	  cursor: pointer;
	  height: 10px;
	  width: 10px;
	  margin: 0 2px;
	  background-color: #bbb;
	  border-radius: 5%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
	}

	.active, .dot:hover {
	  background-color: #ed8800;
	}

	.fade {
	  animation-name: fade;
	  animation-duration: 1.5s;
	}

	@keyframes fade {
	  from {opacity: .4}
	  to {opacity: 1}
	}




.longread {
	max-width: 60%;
	font-style: normal;
	font-weight: 300;
	text-align: left;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	
}

	.longread a {
		text-decoration: underline;
	}

.art-grid {
	max-width: 90%;
	text-align: center;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	
}


	.art-grid img {
		height: 188px;
		border-radius: 6px;
	}
	
	.art-grid h1 {
		display: block;
		margin-bottom: 10px;
		font-family: Lexend;
		font-style: normal;
		font-weight: 300;
		text-align: left;
		font-size: 10px;
		padding: 3px;
	}
	
	.p1 {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	.p2. {
		
	}
	



footer {
	padding-top: 15px;
	padding-bottom: 70px;
    font-size: 10px;
    text-align: center;
}






/* FORMATTING */

a {
	color: var(--primary);
	text-decoration: none;
	}

	a:hover, a.selected {
		color: #ed8800;
	}

	a:visited:hover {
		color: #dc210f;
	}

h1, h2, h3 {
	color: var(--primary);
	font-family: var(--Lexend);
	font-weight: 500;

	&:last-child {
		margin-bottom: 0;
  }
}

h1 {
	font-family: "Pacifico", cursive;
	font-style: normal;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 5px;
}
h2 {
	margin-bottom: var(--10px);
	font-size: var(--28px);

	@media (max-width: 600px) {
		margin-bottom: var(--20px);
		font-size: var(--24px);
	}
}
h3 {
	margin-bottom: var(--10px);
	font-size: var(--24px);
	font-weight: 500;
	line-height: 1.2;

	@media (max-width: 600px) {
		margin-bottom: var(--10px);
		font-size: var(--20px);
	}
}

p {
	margin-bottom: 0;
	margin-top:0;
}

em {
	font-style: italic;
}
strong {
	font-weight: 700;
}

::selection {
  background: #b6f0f8;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

li {
	line-height: 1.8;
}

.date {
	color: #81B8C9;
}