/* ALL PAGES */

html {
	text-align: center;
	padding: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-family: Lexend;
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	background-image: url('images/background.webp');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #f9f9f9;	
}



.nav {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 8px;
	padding: 0;
}

	.nav th {
		padding-left: 8px;
		padding-right: 8px;
		font-weight: 300;
	}



.main { 
	animation: appear 0.8s; 
	position: relative;
}

	@keyframes appear {
		0% { opacity: 0; top:50px;}
		100% { opacity: 1; top:0;}
	}










/* TEXTS */

.container-grid {
  display: grid;
  grid-template-columns: 255px auto;
  gap: 15px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.about-card, .longread {
	text-align: left;

}

.about-card, .longread, .recent, .portfolio, .art-grid {
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	background: white;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
}

.about-text a, .longread a, .recent a {
	text-decoration: underline;
}

.card-header {
	display: flex;
	padding-bottom: 10px;
}

	.card-header img {
		width: 55px;
		height: auto;
		padding-right: 12px;
		float: left;
	}



.card-menu {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

	.card-menu th {
		display: inline-block;
		margin-left: 7px;
		margin-right: 7x;
		margin-bottom: 0;
		margin-top: 10px;	
		transition: filter 0.3s ease; 
	  }
		
	.card-menu th:hover {
		filter: drop-shadow(0 0 2px gray); 
	}
		
	.card-menu img {
		width: 35px;
	}



.recent {
	margin-top: 5px;
}

	.recent h1 {
		font-family: Lexend;
		font-weight: 700;
		font-size: 12px;
	}



.longread {
	max-width: 60%;
}



footer {
	padding-top: 15px;
	padding-bottom: 70px;
}











/* IMAGES */

.portfolio p {
	padding-top: 5px;
}
	
	.portfolio img {
	width: auto;
	margin: 0;
	padding: 0;
}	

	.slideshow-container {
		max-width: 100%;
		position: relative;
	}

		.mySlides {
			display: none;
		}

			.fade {
				animation-name: fade;
				animation-duration: 1.5s;
			}

			@keyframes fade {
				from {opacity: .4}
				to {opacity: 1}
			}

			.slideshow-container img {
				margin-left: auto;
				margin-right: auto;
				position: center;
				max-height: 330px;
				border-radius: 3px;
			}

		.slideshow-nav {
			margin-left: auto;
			margin-right: auto;
			margin-top: 2px;
		}

			.slideshow-nav th {
				font-weight: 300;
			}

		
			.dot {
				cursor: pointer;
				height: 10px;
				width: 10px;
				margin: 0 2px;
				background-color: #bbb;
				border-radius: 5%;
				display: inline-block;
				transition: background-color 0.6s ease;
			}

			.active, .dot:hover {
				background-color: #ed8800;
			}



.art-grid {
	max-width: 82%;
	text-align: center;
	margin-bottom: 10px;
}

	.art-grid img {
		height: 188px;
		border-radius: 6px;
	}
	
	.art-grid h1 {
		display: block;
		margin-bottom: 10px;
		font-family: Lexend;
		font-style: normal;
		font-weight: 300;
		text-align: left;
		font-size: 10px;
		padding: 3px;
	}
	
	.p1 {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	









/* GENERAL FORMATTING */

a {
	color: var(--primary);
	text-decoration: none;
	}

	a:hover, a.selected {
		color: #ed8800;
	}

	a:visited:hover {
		color: #dc210f;
	}


h1 {
	font-family: "Pacifico", cursive;
	font-style: normal;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 5px;
}


p {
	margin-bottom: 0;
	margin-top:0;
}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

::selection {
	background: #b6f0f8;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}

li {
	line-height: 1.8;
}

.date {
	color: #81B8C9;
}