/* ALL PAGES */

html {
	text-align: center;
	font-family: Lexend;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
	background-color: #F5EEE4;	
}

body {
	margin: 0;
}

* {
  box-sizing: border-box;
}

.skip-link {
	font-weight: 700;
	left: 50%;
	transform: translateY(-100%);
	opacity: 0;
}

	.skip-link:focus {
		transform: translateY(0%);
	}
	
	.skip-link:hover {
		opacity: 100%;
	}	
	
	.back-link {
	font-weight: 700;
	left: 50%;
	transform: translateY(-100%);
}

		.back-link:focus {
			transform: translateY(0%);
		}
	
		
		
		
header {
	display: block;
	padding-top: 2px;
	padding-bottom: 5px;
	border: 3px solid transparent;
	border-image-source: url('images/border.png');
	border-image-slice: 20;
	background-image: url('images/header.webp');
	background-repeat: no-repeat;
	background-size: cover;
}


.nick {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;	
}

	.nick img {
		width: 80px;
		height: auto;
		padding-right: 12px;
		float: left;
	}
	
	.nick p {
		font-weight: 300;
		line-height: 1;
	}
	
	.nick h1 {
		margin-bottom: 0;
	}


.nav, footer {
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	justify-content: space-between;	
	flex-wrap: wrap;
	color: white;
	background-color: #472536;
	border: 3px solid transparent;
	border-image-source: url('images/border.png');
	border-image-slice: 20;
}

	.nav-button, .footer-button {
		padding: 5px;
		margin-left: 10px;
		margin-right: 10px;
		vertical-align: middle;
	}
	
		.nav-button img {
			width: 15px;
			vertical-align: text-top;
			margin-left: 5px;
		}



footer {
	margin-top: 65px;
	padding-bottom: 100px;
	height: auto;
}

	.footer-links {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		margin-top: 0;
		padding-top: 2px;
	}




#main { 
	animation: appear 0.8s; 
	position: relative;
	margin-top: 25px;
}

	@keyframes appear {
		0% { opacity: 0; top:50px;}
		100% { opacity: 1; top:0;}
	}











/* TEXTS */

.about-card, .longread, .recent, .art-grid, .portfolio {
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-bottom: 30px;
	background: white;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border: 9px solid transparent;
	border-image-source: url('images/border.png');
	border-image-slice: 20;
	border-image-outset: 4px;
}



.about-text a, .longread a, li a {
	text-decoration: underline;
}

.intro-grid {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
}

	@media only screen and (min-width: 768px) {
		.intro-grid {width: 95%;}
		.about-card {width: 45%; float: left;}
		.recent {width: 45%; float: right;}
	}
	
	

.card-menu, .blog-buttons {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

	.card-menu {
		margin-top: 15px;
		margin-bottom: 0;	
		text-align: center;
	  }
	  
	.card-button {
		transition: filter 0.3s ease;
		padding-left: 7px;
		padding-right: 7px;
	}	
		
	.card-button:hover {
		filter: drop-shadow(0 0 2px gray); 
	}
		
	.card-button img {
		height: 40px;
		width: auto;
	}
	



.longread {
	max-width: 100%;
	text-align: left;
}

	.longread h1 {
		text-align: center;
	}
	
	@media only screen and (min-width: 768px) {
		.longread {width: 60%;}
	}



.blog-buttons {
	margin-top: 20px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

	.blog-buttons th {
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 10px;
		text-decoration: none;
	}
	
		.blog-buttons a {
			text-decoration: none;
		}	
		
		.blog-buttons p {
			font-weight: 300;
			margin: 0;
			padding: 0;
		}	
		
			.th1 {
				text-align: right;
				
			}

			.th2 {
				text-align: left;
				float: left;
			}












/* IMAGES */

.portfolio, .nav, .footer-links {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	max-width: 100%;
	flex-wrap: wrap;
}

.portfolio, .footer-links {
	width: 90%;
	margin-bottom: 25px;
}

	.picture {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;	
		height: 40vh;
	}

	.portfolio p {
		padding-top: 5px;
		padding-bottom: 0;
		margin-bottom: 0;
		text-align: right;
	}
	
	.portfolio img {
		height: 100%;
		max-width: 100%;
		object-fit: cover;
		border-radius: 3px; 
	}
	
	@media only screen and (max-width: 768px) {
		.picture {height: 100%; max-width: 100%;}
		.portfolio {padding: 0;}
	}
	


.art-grid {
	max-width: 82%;
	text-align: center;
	margin-bottom: 10px;
}

	.art-grid img {
		height: 180px;
		border-radius: 3px;
	}
	
	.art-grid h1 {
		display: block;
		margin-bottom: 10px;
		font-family: Lexend;
		font-style: normal;
		font-weight: 300;
		text-align: left;
		font-size: 10px;
		padding: 3px;
	}
	
	.p1 {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	







/* GENERAL FORMATTING */

a {
	color: var(--primary);
	text-decoration: none;
	}

	a:hover, a.selected {
		color: #ed8800;
	}

	a:visited:hover {
		color: #dc210f;
	}


h1 {
	font-family: "Pacifico", cursive;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 5px;
	text-decoration: none;
}

h2 {
	font-family: "Lexend";
	font-style: bold;
	font-weight: 700;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	text-align: center;
}


p {
	margin-bottom: 0;
	margin-top:0;
}

.sub {
	text-align: center;
}

em {
	font-style: italic;
}

strong {
	font-weight: 900;
}

::selection {
	background: #b6f0f8;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}

ol {
	padding-left: 44%;
	margin-top: 0;
	margin-bottom: 0;
}

li {
	line-height: 1.5;
}

.date {
	color: #0089B3;
}

/* TEXT COLOURS */
	.text-color-red {
		color: #E60054;
		font-weight: 700;
	}
	.text-color-yellow {
		color: #F06C00;
		font-weight: 700;
	}	
	










/* FONTS */ 

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('font/LexendLatExt.woff2') format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('font/LexendLat.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('font/PacificoLatExt.woff2') format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('font/PacificoLat.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}